
<!DOCTYPE HTML>
<!--
    Striped by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Striped by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/boardstyles/main.css" />
    <style>
    [class *="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }
    </style>
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<script>
	$(document).on('turbolinks:load', function() {
		
	});
</script>
   <script src="/assets/boardjs/skel.min.js"></script>
    <script src="/assets/boardjs/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/assets/boardjs/main.js"></script>


<body>
    <!-- Content -->
    <div id="content">
        <div class="inner">
          
<div class="col-lg-12">
<h1>게시글 작성 페이지</h1>
<form method="get" action='/leposts/create/<%= @lepost.bbs_name %>/<%= @lepost.id%>'>
  <div class="form-group">
    <label for="title">제목</label>
    <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="제목을작성해랏" name="title">
    <small id="emailHelp" class="form-text text-muted">제목은 길게 쓰지마세요</small>
  </div>
  <div class="form-group">
    <label for="content">내용</label>
    <textarea class="form-control" id="title"  name="content" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">ADD</button>
</form>
</div>

        
        </div>
    </div>
    <!-- Sidebar -->
    <div id="sidebar">
        <!-- Logo -->
        <h1 id="logo"><a href="#">강의평가</a></h1>
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a href="/leposts/leposts_index">HOME</a></li>
                <li><a href="/leposts/lederand">리더와자기관리</a></li>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Contact Me</a></li>
            </ul>
        </nav>
        <!-- Search -->
        <section class="box search">
            <form method="post" action="#">
                <input type="text" class="text" name="search" placeholder="Search" />
            </form>
        </section>
        <!-- Text -->
        <section class="box text-style1">
            <div class="inner">
                <p>
                    <strong></strong><a href="http://twitter.com/ajlkn">AJ</a><a href="http://html5up.net/"></a>
                </p>
            </div>
        </section>
        <!-- Recent Posts -->
        <section class="box recent-posts">
            <header>
                <h2>Recent Posts</h2>
            </header>
            <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Feugiat nisl aliquam</a></li>
                <li><a href="#">Sed dolore magna</a></li>
                <li><a href="#">Malesuada commodo</a></li>
                <li><a href="#">Ipsum metus nullam</a></li>
            </ul>
        </section>
        <!-- Recent Comments -->
        <section class="box recent-comments">
            <header>
                <h2>Recent Comments</h2>
            </header>
            <ul>
                <li>case on <a href="#">Lorem ipsum dolor</a></li>
                <li>molly on <a href="#">Sed dolore magna</a></li>
                <li>case on <a href="#">Sed dolore magna</a></li>
            </ul>
        </section>
        <!-- Copyright -->
        <ul id="copyright">
            <li>&copy; Untitled.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
    <!-- Scripts -->
    
    
 
</body>

</html>

