<!DOCTYPE html>
<html lang="ko">
<head>
	
	<title>Digital Team HTML5 Layout - Tooplate</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
	<!--
	Template 2075 Digital Team
	http://www.tooplate.com/view/2075-digital-team
	-->

</head>
<body>
	
<%= yield %>

	
</body>
</html>
